.header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 2rem;
  margin: 20px;
}

.logo {
  max-width: 100%;
  height: 20rem;
}

.EorIToggle {
  justify-self: start;
}
