<div class="total-box">
  <span class="total-label">Total Amount</span>
  <span class="total-value">{{ grandTotal | currency }}</span>
</div>

<mat-card appearance="outlined" class="footer-card">
  <mat-card-content>
    <div class="footer-content">
      <p class="payable">
        Makes checks payable to: <strong>{{ payableTo }}</strong>
      </p>
      <p>
        Thank you for choosing Avila Contracting LLC. If you have any questions
        regarding this estimate or invoice or need further assistance, please
        feel free to contact me at the email or phone number listed below:
      </p>
      <p>
        <b>Avilacontractingllc4@gmail.com &nbsp;|&nbsp; (+1) 984-202-6576</b>
      </p>
    </div>
  </mat-card-content>
</mat-card>
